.align-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project-timeline-cart-section {
  padding: 5px;
}
.project-image {
  width: 100%;
}
.project-timeline-duration {
  margin-left: 10px;
  color: #1e293b;
  font-weight: 600;
}
.project-timeline-description {
  margin-top: 0px;
  color: #1e293b;
}
.anchor-tag {
  font-size: 15px;
  text-decoration: none;
}
